<!--topを編集するページ-->
<!DOCTYPE html>
<html>
  <head>
    <title>itoshigo</title>
    <!--<a href="index.html" title="このカテゴリーのトップへジャンプします">カテゴリートップ</a>-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- 全体 -->
    <div class="container">
    <!-- 画像表示
    <img src="/assets/main.JPG">-->
      <!-- header -->
      <div class="d-flex justify-content-between align-items-center">
        <!-- logo -->
        <h1 class="logo"><a href="/">itoshigo</a></h1>
        <!-- searchbox -->
        <div class="d-flex justify-content-center">
          <form method="get" action="/search" class="d-flex" style="width: 400px; height: 35px;">
            <input type="text" name="q" class="flex-grow-1">
            <button type="submit" class="btn">検索</button>
          </form>
        </div>
      </div>

    <div class="row">
    <% if user_signed_in? %>
      <div class="col-2">
        <ul>
          <li><a href="<%= new_post_path() %>">日記を書く</a></li>
          <li><a href="<%= edit_user_registration_path() %>">ユーザー情報変更</a></li>
          <li><a href="<%= pets_path() %>">ペット一覧</a></li>
          <li><a href="<%= tasks_path() %>">タスク管理</a></li>
          <li><a href="<%= calendar_path() %>">カレンダー</a></li>
          <li><%= link_to('ログアウト',
            destroy_user_session_path(),
            method: :delete)
            %></li>
        </ul>
      </div>
      <% else %>
        <div class="col-2">
        <ul>
          <li><a href="/users/sign_up">会員登録</a></li>
          <li><a href="/users/sign_in">ログイン</a></li>
        </ul>
        </div>
    <% end %>
      <div class="col">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-info" role="alert">
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>

    </div>
  </body>
</html>
